<<<<<<< HEAD
* {
    margin: 0;
    font-family: sans-serif;
  }
  
  html, body {
    min-height: 100vh;
    min-width: 100vw;
  }
  body {
    background: url(//i.imgur.com/gXuYHn8g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .text-center {
    text-align: center;
  }
  
  header h1 {
    background: rgba(400, 500,250, .4);
    padding: 20px 0;
  
  }
  main {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      }
  
  .block {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      }
  
  .tetris-wrap {
    width: 300px;
    height: 500px;
    background: olive;
    margin:0 auto;
    overflow: hidden;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    max-width: 960px;
  }
  
  .text-field {
    background: rgba(400, 500,250, .4);
    padding: 20px 0;
    margin: 20px 0;
  }
  
  .start {
    border: 1px solid #4ca06e;
    box-shadow: 8px 8px 8px #4ca06e;
    background: #fff;
    display: block;
    width: 50%;
    padding: 30px 30px;
    margin: 15px auto;
    color: green;
    font-size: 20px;
   
    background-image: url(//cdn3.iconfinder.com/data/icons/seo-internet-marketing-flat-icons/128/panda.png);
    background-repeat: no-repeat;
    background-position: 96% 50%;
    background-size: 35%;
  }
  
  .rule {
    margin-top: 30px;
  }
  
  .score-field {
    font-size: 42px;
    padding: 30px;
    color: green;
  }
  
  #tetris-field {
    
    width: 270px;
    height: 450px;
    margin: 25px 18px;
    
  }
  
  .white {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
    float: left;
      
  }
  
  .orange {
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 100%;
    float: left;
      
  }
  .purple {
    width: 30px;
    height: 30px;
    background: purple;
    border-radius: 100%;
    float: left;
      
  }
  .alcon {
    width: 30px;
    height: 30px;
    background: #49a942;
    border-radius: 100%;
    float: left;
      
  }
  .red {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 100%;
    float: left;
      
=======
* {
    margin: 0;
    font-family: sans-serif;
  }
  
  html, body {
    min-height: 100vh;
    min-width: 100vw;
  }
  body {
    background: url(//i.imgur.com/gXuYHn8g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .text-center {
    text-align: center;
  }
  
  header h1 {
    background: rgba(400, 500,250, .4);
    padding: 20px 0;
  
  }
  main {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      }
  
  .block {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      }
  
  .tetris-wrap {
    width: 300px;
    height: 500px;
    background: olive;
    margin:0 auto;
    overflow: hidden;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    max-width: 960px;
  }
  
  .text-field {
    background: rgba(400, 500,250, .4);
    padding: 20px 0;
    margin: 20px 0;
  }
  
  .start {
    border: 1px solid #4ca06e;
    box-shadow: 8px 8px 8px #4ca06e;
    background: #fff;
    display: block;
    width: 50%;
    padding: 30px 30px;
    margin: 15px auto;
    color: green;
    font-size: 20px;
   
    background-image: url(//cdn3.iconfinder.com/data/icons/seo-internet-marketing-flat-icons/128/panda.png);
    background-repeat: no-repeat;
    background-position: 96% 50%;
    background-size: 35%;
  }
  
  .rule {
    margin-top: 30px;
  }
  
  .score-field {
    font-size: 42px;
    padding: 30px;
    color: green;
  }
  
  #tetris-field {
    
    width: 270px;
    height: 450px;
    margin: 25px 18px;
    
  }
  
  .white {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
    float: left;
      
  }
  
  .orange {
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 100%;
    float: left;
      
  }
  .purple {
    width: 30px;
    height: 30px;
    background: purple;
    border-radius: 100%;
    float: left;
      
  }
  .alcon {
    width: 30px;
    height: 30px;
    background: #49a942;
    border-radius: 100%;
    float: left;
      
  }
  .red {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 100%;
    float: left;
      
>>>>>>> 5d5065016d80fe4dabf9cf26abca101f97f8e1bd
  }